@charset "UTF-8";

/* ここから共通部分 */
html{
    font-size: 100%;
}
body{
    /* font-family: "Poppins", sans-serif; */
    line-height: 1.7;
    /* height: 100vh; */
    color: #432;
    background-color: black;
    margin: 0;
    /* padding: 0;
    box-sizing: border-box; */
    user-select: none;
        /* beforeとafterの内容は幅も高さも画面いっぱいにする */
}
*::before,
*::after{
    content: "";
    position: relative;
        /* beforeとafterは以降absoluteとして位置の指定ができる */
    width: 100%;
    height: 100%;
        /* beforeとafterの内容は幅も高さも画面いっぱいにする */
}
a{
    text-decoration: none;
    color: inherit;
    /* 傍線をなくす */
}
/* ここまで共通部分 */

/* ここからTOPページの装飾内容 */
.main-body{
    height: 100vh;
}
.container{
    /* background-color: rgb(5, 56, 56); */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 90%;
    width: 95%;
        /* 表示領域いっぱいに(100vh) */
    /* margin: 27% 25.5%; */
    display: grid;
        /* 子要素に対してグリッド表示 */
    /* place-items: center; */
        /* グリッドの子要素をcenterにする */
        z-index: 1;
}
.content1 h1{
    /* background-color: #0af731; */
    display: inline-block;
    text-align: center;
    font-size: 350%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* right: 0;
    margin: auto; */
    padding: 10px 20px;
    text-shadow: 5px 3px 5px #1DC6CC;
    z-index: 2;
}
.top-about{
    /* background-color: violet; */
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.8;
    box-shadow: 7px 5px 3px floralwhite;
        width: 6rem;
        height: 4.2rem;
        background: #191818;
        color: #ffffff;
        transition: all 0.3s;
        z-index: 2;
}
    .top-about:hover{
        background: transparent;
            /* hover時に背景色を透明にする */
        letter-spacing: 5px;
            /* hover時に字間を5px空ける */
        box-shadow: none;
    }
    .top-about::before{
        top: 0;
    }
    .top-about::after{
        bottom: 0;
    }
    .top-about:hover::before,
    .top-about:hover::after{
        transform: scaleX(1);
    }
    .top-about::before,
    .top-about::after{
        content: "";
        position: absolute;
        left: 0;
        transform: scaleX(0);
        width: 100%;
        height: 0.5px;
        background: white;
        transition: all 0.3s;
    }
.top-canmake{
    /* background-color: yellowgreen; */
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    top: 46%;
    left: 11.5%;
    margin: auto;
    opacity: 0.8;
    box-shadow: 7px 5px 3px floralwhite;
        width: 6rem;
        height: 4.2rem;
        background: #191818;
        color: #ffffff;
        transition: all 0.3s;
        z-index: 2;
}
    .top-canmake:hover{
        background: transparent;
            /* hover時に背景色を透明にする */
        letter-spacing: 5px;
            /* hover時に字間を5px空ける */
        box-shadow: none;
    }
    .top-canmaket::before{
        top: 0;
    }
    .top-canmake::after{
        bottom: 0;
    }
    .top-canmake:hover::before,
    .top-canmake:hover::after{
        transform: scaleX(1);
    }
    .top-canmake::before,
    .top-canmake::after{
        content: "";
        position: absolute;
        left: 0;
        transform: scaleX(0);
        width: 100%;
        height: 0.5px;
        background: white;
        transition: all 0.3s;
    }
.top-hobby{
    /* background-color: coral; */
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: 46%;
    right: 11.5%;
    opacity: 0.8;
    box-shadow: 7px 5px 3px floralwhite;
        width: 6rem;
        height: 4.2rem;
        background: #191818;
        color: #ffffff;
        transition: all 0.3s;
        z-index: 2;
    }
    .top-hobby:hover{
        background: transparent;
            /* hover時に背景色を透明にする */
        letter-spacing: 5px;
            /* hover時に字間を5px空ける */
        box-shadow: none;
    }
    .top-hobby::before{
        top: 0;
    }
    .top-hobby::after{
        bottom: 0;
    }
    .top-hobby:hover::before,
    .top-hobby:hover::after{
        transform: scaleX(1);
    }
    .top-hobby::before,
    .top-hobby::after{
        content: "";
        position: absolute;
        left: 0;
        transform: scaleX(0);
        width: 100%;
        height: 0.5px;
        background: white;
        transition: all 0.3s;
    }
.top-concept{
    /* background-color: coral; */
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.8;
    box-shadow: 7px 5px 3px floralwhite;
        width: 6rem;
        height: 4.2rem;
        background: #191818;
        color: #ffffff;
        transition: all 0.3s;
        z-index: 2;
    }
    .top-concept:hover{
        background: transparent;
            /* hover時に背景色を透明にする */
        letter-spacing: 3px;
            /* hover時に字間を5px空ける */
        box-shadow: none;
    }
    .top-concept::before{
        top: 0;
    }
    .top-concept::after{
        bottom: 0;
    }
    .top-concept:hover::before,
    .top-concept:hover::after{
        transform: scaleX(1);
    }
    .top-concept::before,
    .top-concept::after{
        content: "";
        position: absolute;
        left: 0;
        transform: scaleX(0);
        width: 100%;
        height: 0.5px;
        background: white;
        transition: all 0.3s;
    }
    /* ここからTOPページの背景装飾 */
        /* 球体の記述（フォトショに代替するかも）*/
            .container::before{
                position: absolute;
                top: -100px;
                left: 50px;
                background: linear-gradient(#e91e63,#2196f3);
                clip-path: circle(20% at 25% 35%);
            }
            .container::after{
                position: absolute;
                top: 100px;
                left: 50px;
                background: linear-gradient(110deg,#0ae3f7,#0f0094);
                clip-path: circle(10% at 75% 20%);
            }
        /* 三本線（フォトショに代替するかも）*/
            /* .triangle1{
                position: relative;
                top: 160%;
                left: 50%;
                width: 0;
                height: 87%;
                border-right: 5px solid #636363;
                margin: 0;
                padding: 0;
            }
            .triangle2{
                position: relative;
                top: 145%;
                left: 38%;
                width: 0;
                height: 105%;
                border-right: 5px solid #636363;
                margin: 0;
                padding: 0;
                transform: rotate(45deg);
            }
            .triangle3{
                position: relative;
                top: 45%;
                left: 61%;
                width: 0;
                height: 105%;
                border-right: 5px solid #636363;
                margin: 0;
                padding: 0;
                transform: rotate(-45deg);
            } */
    /* ここからhover時のエフェクト */
        .container .mask{
            /* width: inherit;
            height: inherit; */
            /* position: absolute; */
            opacity: 0;
            -webkit-transition:	all 0.29s ease;
            transition:	all 0.3s ease-in-out;
        }
        .container:hover .mask{
            opacity: 1;
        }
/* ここからデバイス幅別の設定へ */
