@charset "UTF-8";

/* ここから各ページの共通部分 */
    /* ここから全体 */
        html{
            font-size: 100%;
            height: 100%;
        }
        body{
            background-color: #060606;
            position: relative;
            /* display: flex; */
            height: 100%;
            /* font-family: "Poppins", sans-serif; */
            line-height: 1.7;
            /* height: 100vh; */
            color: #432;
            margin: 0;
            /* padding: 0;
            box-sizing: border-box; */
            user-select: none;
                /* beforeとafterの内容は幅も高さも画面いっぱいにする */
        }
        a{
            text-decoration: none;
            color: inherit;
            /* 傍線をなくす */
        }
    /* ここまで全体 */
    /* ここからナビメニュー */
        .navi-back{
            /* headerの親要素、aboutの子要 */
            background-color: #707070;
            position: absolute;
                /* body(親)の参照 */
            top: 0;
            left: 0;
            height: 100%;
            /* abusoluteによりbodyの要素の長さ分に指定 */
            width: 15%;
        }
        .main-nav{
            position: relative;
            color: #ffffff;
            display: flex;
            flex-direction: column;
                /* 縦に並べる */
            font-size: 1.2vw;
            text-align: center;
            padding-top: 20px;
        }
            .main-nav li{
                background-color: rgba(255, 255, 255, 0.4);
                list-style: none;
                margin-bottom: 20px;
                transition: all 0.3s;
            }
            .main-nav li:hover{
                background: transparent;
                /* hover時に背景色を透明にする */
                letter-spacing: 3px;
                /* hover時に字間を5px空ける */
                /* box-shadow: none; */
                /* opacity: 1; */
                color: #ffffff;
            }
            .main-nav li::before{
                top: 0;
            }
            .main-nav li::after{
                bottom: 0;
            }
            .main-nav li:hover::before,
            .main-nav li:hover::after{
                transform: scaleX(1);
            }
            .main-nav li::before,
            .main-nav li::after{
                content: "";
                position: absolute;
                left: 0;
                transform: scaleX(0);
                width: 100%;
                height: 0.5px;
                /* background: white; */
                transition: all 0.3s;
            }
            .main-nav .doble{
                line-height: 100%;
                /* 2行のため行間詰める */
            }
    /* ここまでナビメニュー */
    /* ここからsame-titleの共通装飾 */
    .same-title{
        /* background-color: #0f0094; */
        font-weight: bold;
        position: relative;
            /* 親要素であるabout-contentsがすでに全体の85％で固定している */
        height: 10%;
        width: 100%;
            /* 親要素であるabout-contentsが
            すでに全体の85％で固定しているがrelativeを宣言しているので表示領域の85％に指定する
            始点は左から15％で固定されている */
        display: flex;
            /* アイコンと見出しを横並びにした */
        /* padding-top: 1%; */
        /* padding-bottom: 0.5%; */
        color: #ffffff;
    }
        .same-title .logo{
            /* background-color: #009459; */
            position: absolute;
            top: 40%;
            bottom: 0;
            left: 50px;
            width: 50px;
            height: 35px;
        }
        .same-title p{
            /* background-color: #12ec3a; */
            position: absolute;
            top: 40%;
            bottom: 0;
            left: 100px;
        }
    /* ここまで見出しの共通装飾 */
    /* ここからfooterの装飾 */
        .copy{
            background-color: black;
            position: fixed;
                /* 表示位置を表示領域下部に常に表示 */
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30px;
            text-align: right;
        }
    /* ここまでfooterの装飾 */
/* ここまで共通部分 */

/* ここから個別設定 */
    /* ここからナビゲーションの背景装飾 */
        .navi-about{
            background-image: url(images/export/about\nav-pic.png);
            /* ここには背景にイメージ入れる */
            background-size: cover;
            position: absolute;
            right: 0;
            height: 100%;
            width: 75%;
        }
        .navi-canmake{
            background-image: url(images/export/can\ make\ nav-pic.png);
            /* ここには背景にイメージ入れる */
            background-size: cover;
            position: absolute;
            right: 0;
            height: 100%;
            width: 75%;
        }
        .navi-hobby{
            background-color: #494949;
            background-size: cover;
            position: absolute;
            right: 0;
            height: 100%;
            width: 75%;
        }
        .navi-hobby-cooking{
            background-image: url(images/export/hobby-cooking\nav-pic.png);
            /* ここには背景にイメージ入れる */
            background-size: cover;
            position: absolute;
            right: 0;
            height: 100%;
            width: 75%;
        }
        .navi-hobby-fishing{
            background-image: url(images/export/hobby-fishing\ nav-pic.png);
            /* ここには背景にイメージ入れる */
            background-size: cover;
            position: absolute;
            right: 0;
            height: 100%;
            width: 75%;
        }
        .navi-concept{
            background-image: url(images/export/about\ nav-pic.png);
            /* ここには背景にイメージ入れる */
            background-size: cover;
            position: absolute;
            right: 0;
            height: 100%;
            width: 75%;
        }
    /* ここまでナビゲーションの背景装飾 */

    /* ここからabout-contentsの装飾 */
        .about-contents{
            /* 親要素 */
            /* background-color: #0ae3f7; */
            position: relative;
            left: 15%;
                /* nav分の幅をずらしている */
            right: 0;
            width: 85%;
            color: #ffffff;
            height: 100vh;
        }
        /* ここからコンテンツの内容の装飾 */
            .job-history,
            .license,
            .greeting{
                position: absolute;
                margin-left: 100px;
                margin-right: 100px;
                    display: flex;
                        /* 各コンテンツ内の子要素が横並びになる */
            }
                    .job-history,
                    .license,
                    .greeting:nth-child(even){
                        flex-direction: row;
                            /* 各コンテンツの親要素の偶数に対して指定 */
                    }
                    .self-me,
                    .official-text,
                    .impre{
                        flex-shrink: 0;
                    }
            /* ここから職歴の装飾 */
                .job-history{
                    /* background-color: #007694; */
                    position: relative;
                    height: 28%;
                    display: flex;
                    /* padding: 30px 25px 30px 25px; */
                }
                    .self-me{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                        }
                    .about-text{
                        /* background-color: chocolate; */
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: calc(150px + 45px);
                        color: #ffffff;
                    }
                    .jh-title{
                        /* background-color: #e91e63; */
                        position: relative;
                        top: 0;
                        width: 100%;
                        /* bottom: 0; */
                    }
                    .jh-dire{
                        /* background-color: burlywood; */
                        position: relative;
                        left: 10%;
                        width: 90%;
                        overflow: hidden;
                    }
                    .jh-arrow{
                        /* background-color: #009459; */
                        position: absolute;
                        bottom: 20%;
                        left: 50px;
                        width: 90%;
                        height: 40px;
                    }
            /* ここまで職歴の装飾 */
            /* ここから資格の装飾 */
                .license{
                    /* background-color: #6b095c; */
                    position: relative;
                    height: 28%;
                    display: flex;
                    justify-content: flex-end;
                }
                    .official-text{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                    }
                    .license-text{
                        /* background-color: chocolate; */
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: calc(150px + 45px);
                        color: #ffffff;
                        }
                        .l-title{
                        /* background-color: #e91e63; */
                        position: relative;
                        top: 0;
                        /* bottom: 0; */
                        text-align: right;
                    }
                        .l-dire{
                        /* background-color: burlywood; */
                        position: relative;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        overflow: hidden;
                        }
                        .l-arrow{
                            /* background-color: #009459; */
                            position: absolute;
                            right: 50px;
                            bottom: 20%;
                            width: 90%;
                            height: 40px;
                        }
            /* ここまで資格の装飾 */
            /* ここから挨拶の装飾 */
                .greeting{
                    /* background-color: #009459; */
                    position: relative;
                    height: 28%;
                    display: flex;
                    /* padding: 30px 25px 30px 25px; */
                    justify-content: flex-start;
                }
                    .impre{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                    }
                    .greeting-text{
                        /* background-color: chocolate; */
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: calc(150px + 45px);
                        color: #ffffff;
                    }
                    .g-title{
                        /* background-color: #e91e63; */
                        position: relative;
                        top: 0;
                        /* bottom: 0; */
                    }
                    .g-dire{
                        /* background-color: burlywood; */
                        position: relative;
                        top: 0;
                        bottom: 0;
                        left: 10%;
                        width: 90%;
                        overflow: hidden;
                    }
                    .g-arrow{
                        /* background-color: #009459; */
                        position: absolute;
                        bottom: 0;
                        left: 50px;
                        width: 90%;
                        height: 40px;
                    }
            /* ここまで挨拶の装飾 */
    /* ここまでabout-contentsの装飾 */
    /* ここからhobbyの装飾 */
        /*ここからhobbyの共通設定*/
        .grid-content{
            display: grid;
            gap: 12px;
            /* grid-template-columns: repeat(auto-fit,minmax(483px,0.5fr)); */
            grid-template-columns: 483px 483px 483px;
        }
        .grid-t,
        .grid-s,
        .grid-k{
            /* background-color: palevioletred; */
            width: 483px;
        }
        .grid img{
            height: 300px;
            width: 483px;
        }

        .grid p{
            /* background-color: aqua; */
            width: 483px;
        }
        .grid{
            /* background-color: brown; */
            margin: 0 100px;
        }
        .st-t{
            margin-top: 50px;
        }
        /*ここまでhobbyの共通設定*/
    /* ここまでhobbyの装飾 */
    /* ここからconceptの装飾 */
        .concept-dire{
            width: 910px;
            margin-top: 30px;
            margin-right: 350px;
            margin-left: 350px;
        }
        .concept-cc{
            text-align: center;
            margin-top: 90px;
        }
        .cc{
            display: grid;
            gap: 107px;
            grid-template-columns: 200px 200px 200px;
            margin-left: 300px;

        }
    /* ここまでconceptの装飾 */
